
/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  } */
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  

body
{
    margin:0px;
    padding:0px;
    background:linear-gradient(to right,#000000,#0c4cf3);
}
#NavBar
{
    border-radius: 50px;
    background-color: rgba(255,255,255,0.5);
    color: #ffffff!important;
}
#NavBar img
{
    margin-top: -15px;
}
#college img
{
    border-radius: 15px;
    margin:10px;
}
#location img
{
    height:500px;
    width:800px;
    border-radius: 20px;
    margin:25px;
}
#venue button
{
    background: linear-gradient(to right,#12a5d7,#0c4cf3);
    color: white;
    border: none;
    padding:10px;
    border-radius: 30px;
    margin:20px;
}
#registration
{
    color: #ffffff;
}
#registration .gridd
{
    display: grid;
    grid-template-columns: 50% 50%;
}
#registration img
{
    margin-top:-100px ;
}
#registration span
{
    color: #1dd8fe;
    font-weight: 700;
}
.headingodd
{
    color:#aae6ff;
    font-weight: 800;
}
.headingeven
{
    color:#ffffff;
    font-weight: 800;
}
#headleft
{
    margin-left:-250px;
}
#headright
{
    margin-left:200px;
}
#rewards p
{
    color:white;
}
#rewards li
{
    text-align: left;
    color:white;
}
#criteria
{
    margin-top: 180px;
    float: right;
}
.grid2
{
    display: grid;
    grid-template-columns: 50% 50%;
}
#eligibility li
{
    color:#1dd8fe;
    font-weight: 700;
}
#footer
{
    background:linear-gradient(to right,#0f80ff,#5ce1e6);
    font-weight:700 ;
    position:absolute;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    margin-left:-8.75%;
}
#footerheading
{
    color:#084081;
    font-weight: 800;
    margin-left: -60px;
}
#footer .headingeven
{
    margin-top: -25px;
    margin-left: 125px;
}
#social
{
    display: grid;
    grid-template-columns: 10% 10% 10% 10%;
    margin-left:39%;
}
FavoriteIcon
{
    color: #ffffff;
} 